<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction Detail </title>
</head>
<body>

 <h2> Welcome to springBoot Bank </h2>

 <a href ="/deposit/"> Deposit </a>
 <a href="/withdraw"> Withdraw </a>
 <a href ="/"> Show Balance </a>

<table>
    <tr>
        <th> AccountNumber </th>
        <th>  Reason </th>
        <th>   Action </th>
        <th> Amount </th>
        <th> Balance </th>
    </tr>

    <tr th:each="atm : ${atms}">
        <td th:text="${atm.accountNum}"> </td>
        <td th:text="${atm.reason}"></td>
        <td th:text="${atm.action}"> </td>
        <td th:text="${atm.amount}"> </td>
        <td th:text="${atm.balance}"> </td>

    </tr>


</table>

</body>
</html>