<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
<h2> Withdring page </h2>

<form th:action="@{/makewithdraw}" th:object="${atm}" method="post">

    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{action}">

    Account Number<br />
    <input type="text" th:field="*{accountNum}">
    Reason <br />
    <textarea rows="2" th:field="*{reason}"></textarea>
    WithDraw Amount <br />
    <input type ="number" th:field="*{amount}"> <br />

    <br />

    <input type="submit" value="Withdraw">

</form>

</body>
</html>